@font-face{
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}

:root{
    --color-1: #1864AF;
    --color-2: #CAE6FF;
    --color-3: #12508C;
    --color-4: #CFECFF;
    --color-5: #2C3E50;
    --color-6: #34495E;
    --color-7: #3498DB;
    --color-8: #2980B9;
    --color-9: #99C1E4;
    --color-10: #004FAD;
}

*{
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    flex-shrink: 0;
    background-color: var(--color-1);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px var(--color-2) dashed;
}

.header-izquierda{

    display: flex;
    flex-direction: row;

    .hi1{

        display: flex;
        flex-direction: row;
        align-items: center;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        transition: 0.2s;
        
        img{
            max-width: 50px;
            max-height: 50px;
            margin: 10px;
        }

        a{

            text-decoration: none;
            color: white;

            h1{
                font-size: 27px;
            }

        }

        &:hover{
            transform: scale(1.01);
            text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
            filter: saturate(1.5);
        }

    }
    
    .hi2{

        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .casa, .lupa, .cerrar{
            min-height: 40px;
            min-width: 40px;
            filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
            transition: 0.2s;
            &:hover{
                filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
            }
        }

        button{
            background-color: transparent;
            border: 0px;
            cursor: pointer;
        }

    }
    
}

.header-derecha{

    display: flex;
    flex-direction: row;

    a{

        box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
        background-color: white;
        color: black;
        border: 0px;
        border-radius: 15px;
        margin: 10px;
        font-size: large;
        transition: 0.5s;
        display: flex;
        align-items: center;
        text-decoration: none;

        button{

            background-color: transparent;
            border: 0px;
            color: black;
            font-size: 17px;
            padding: 10px;
            min-height: 44px;
            transition: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                filter: brightness(0.75);
                cursor: pointer;
            }

            img{

                margin-right: 10px;
            
                &.no-margin-right{
                    margin-right: 0px;
                }
            
            }

        }

        &:hover{
            filter: brightness(0.75);
            cursor: pointer;
        }

    }

}

/* MAIN */

main{

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-2);

    button {

        width: 100%;
        padding: 12px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        transition: background 0.3s;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        background-color: var(--color-1);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

        &:hover {
            background-color: var(--color-3);
        }

        &.more-margin{
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

}

/* FOOTER */

footer{

    flex-shrink: 0;
    background-color: darkslategray;
    text-align: center;
    padding: 10px;
    color: white;
    border-top: 5px var(--color-2);
    border-top-style: ridge;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div{
        
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        a {
            color: white;
            text-decoration: none;
            position: relative; /* Necesario para usar el pseudo-elemento */
            transition: color 1s; /* Transición suave para el color */
        }

        a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.5px;
            background-color: white;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out; /* Transición para el subrayado */
        }

        a:hover {
            color: var(--color-4);
        }

        a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &.autor{

            margin-left: 40px;

            a{

                color: gray;
                transition: color 0.2s; /* Transición suave para el color */
            
                &:hover{
                    color: white;
                    text-shadow: 0px 0px 5px rgba(238, 255, 0, 0.5);
                }

            }

        }

    }

}

/* FORMULARIOS */

form, .container {

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 600px;
    max-width: 90%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espaciado entre elementos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    div {

        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 10px;

        label {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input {

            width: 95%;
            padding: 10px;
            font-size: 1em;
            border: 2px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s;

            &:focus {
                border-color: var(--color-1);
                outline: none;
            }

        }

        select {

            width: 99%;
            padding: 10px;
            font-size: 1em;
            border: 2px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s;

            &:focus {
                border-color: var(--color-1);
                outline: none;
            }

        }

        textarea {

            width: 95%;
            min-width: 95%;
            max-width: 95%;
            padding: 10px;
            font-size: 1em;
            border: 2px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s;
            height: 100px;

            &:focus {
                border-color: var(--color-1);
                outline: none;
            }

        }

        .delete-image {

            display: none;
            margin-top: 0px;
            padding: 12px;
            background-color: red;
            width: 30%;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: rgb(150, 0, 0);
            }
        
        }

    }

    .checkbox-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Espaciado entre checkbox y texto */
    }
    
    .checkbox-group input[type="checkbox"] {
        width: 30px;
        height: 50px;
        accent-color: var(--color-1); /* Color azul al marcar */
        cursor: pointer;
    }
    
    .checkbox-group label {
        font-size: 1em;
        cursor: pointer;
    }

    button, .btn-delete {

        margin-top: 20px;
        width: 100%;
        padding: 12px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        transition: background 0.3s;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;

        &.verde{
            background-color: green;
            &:hover {
                background-color: rgb(0, 87, 0);
            }
        }

        &.azul{
            background-color: rgb(0, 11, 128);
            &:hover {
                background-color: rgb(0, 0, 76);
            }
        }

    }
    
    button {
        background-color: var(--color-1);
    }
    
    button:hover {
        background-color: var(--color-3);
    }
    
    .btn-delete {
        width: 96%;
        margin-top: 0px;
        background-color: rgb(200, 0, 0);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    }
    
    .btn-delete:hover {
        background-color: rgb(150, 0, 0);
    }

    .btn-delete .hover-text {
        transition: opacity 0.3s ease;
    }

    .btn-delete:hover .hover-text {
        opacity: 0;
    }

}

.oscurecer{
    transition: filter 0.2s;
}

.oscurecer:hover{
    filter: brightness(0.5);
}

.container{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img{
        min-height: 300px;
        max-height: 300px;
        padding: 40px;
    }

    .product-info{
            
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-info-more{

            .value{
                font-weight: normal;
            }

            .desc{
                line-height: 1.5;
            }

        }

    }

    &.modificado{

        flex-direction: column;
        max-width: 900px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */

        h1 {
            font-size: 2.8rem; /* Aumento el tamaño del texto */
            text-align: left; /* Alineo el texto a la izquierda */
            color: var(--color-5);
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 1.7rem; /* Aumento el tamaño del texto */
            color: var(--color-6);
            margin-top: 20px;
            border-bottom: 2px solid var(--color-7);
            padding-bottom: 5px;
            text-align: left; /* Alineo el texto a la izquierda */
        }

        p {
            font-size: 1.1rem; /* Aumento un poco el tamaño del texto */
            color: #555;
            margin-bottom: 15px;
            line-height: 1.7;
        }

        ul {

            margin-left: 20px;
            margin-bottom: 20px;

            li {
                font-size: 1.1rem; /* Aumento un poco el tamaño del texto */
                color: #555;
                margin-bottom: 8px;
            }

        }

        a {

            color: var(--color-7);
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: var(--color-8);
                text-decoration: underline;
            }

        }

        &.aviso {
            border: 5px solid red;
            margin-top: 30px;
            background: linear-gradient(90deg, #ffb9b9 0%, #ffebeb 100%);
            display: none; /* El aviso comienza oculto */

            h2 {
                border-bottom: 2px solid #db3434;
                color: #502c2c;
            }

            p {
                color: black;
            }
        }

    }

}

/* Estilos para el botón */
#avisoBtn {
    background-color: #e74c3c;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    width: unset;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#avisoBtn:hover {
    background-color: #c0392b;
}

#avisoBtn:focus {
    outline: none;
}

.price-offer{
    font-size: 1.5em;
    color: rgb(0, 172, 0);
}

small{
    color: rgb(219, 0, 0);
}

/* MENSAJES DE ERROR / ÉXITO */

strong{

    margin-top: 20px;
    font-size: x-large;

    &.green{
        color: rgb(0, 172, 0);
    }

    &.yellow{
        color: rgb(185, 185, 0);
    }
    
    &.red{
        color: red;
    }

}

/* TABLAS */

.separador{
    padding-left: 0.75px;
    padding-right: 0.75px;
    margin: 0 10px;
    background-color: rgb(198, 198, 198);
}

.nuevoSeparador{
    padding-left: 0.75px;
    padding-right: 0.75px;
    margin: 0 10px;
    background-color: rgb(198, 198, 198);
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

    th, td {

        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;

        &.acciones{

            display: flex;
            flex-direction: row;
            justify-content: center;

            a{
                
                text-decoration: none;
                color: rgb(0, 4, 255);

                &:visited{
                    color: rgb(0, 4, 255);
                }

                &:last-child{

                    color: rgb(218, 0, 0);

                    &:visited{
                        color: rgb(218, 0, 0);
                    }

                }

            }

            a:hover{
                text-decoration: underline;
            }

        }

        &.acciones-especial{

            height: fit-content;

            a{
                
                text-decoration: none;
                color: rgb(0, 4, 255);

                &:visited{
                    color: rgb(0, 4, 255);
                }

                &:first-child{

                    color: rgb(47, 158, 0);

                    &:visited{
                        color: rgb(47, 158, 0);
                    }

                }

                &:last-child{

                    color: rgb(218, 0, 0);

                    &:visited{
                        color: rgb(218, 0, 0);
                    }

                }

                &.forzar-azul{

                    color: rgb(0, 4, 255);

                    &:visited{
                        color: rgb(0, 4, 255);
                    }

                }

            }

            .separador{

                padding: 1px;
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 5px;
                margin-bottom: 5px;
                transform: scaleX(1.25) scaleY(0.5);

            }

            .especial{
                transform: scaleX(1) scaleY(1);
            }

            a:hover{
                text-decoration: underline;
            }

        }

        img{

            min-height: 100px;
            max-height: 100px;
            margin: 0 10px;

            &.ver{

                min-height: 30px;
                max-height: 30px;
                margin: 0px; 
                padding: 5px;
                border-radius: 10px;
                background-color: var(--color-8);
                transition: 0.3s;
            
                &:hover{
                    filter: brightness(0.75);
                    cursor: pointer;
                }
            
            }

        }
    
    }

    th {
        background-color: var(--color-1);
        color: white;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: white;
    }

}

/* PAGINACIÓN */

.paginacion{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
    h1{
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
    }

    a{

        img{
            filter: invert();
            transform: scale(2.5);
        }

    }

    .disabled{
        background-color: rgb(200, 200, 200);
        opacity: 0.5;
        cursor: not-allowed;
    }

}

.disabled{
    
    background-color: rgb(200, 200, 200);
    opacity: 0.5;
    cursor: not-allowed;

    &:hover{
        background-color: rgb(87, 87, 87);
    }

}

/* AÑADIR AL CARRITO */

.add-to-cart {

    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

    form{
        width: 100%;
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.quantity-input {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 2em;
}

.enlace-producto {
    text-decoration: none;
    color: blue;
}

.enlace-producto:hover {
    text-decoration: underline;
}

/* Estilos generales para los botones + y - */
.boton-carrito {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    margin: 0 10px;
}

.boton-carrito:hover {
    transform: scale(1.1); /* Aumentar tamaño al hacer hover */
}

/* Estilo específico para el botón + */
.boton-up {
    background-color: #28a745; /* Verde para el botón + */
}

.boton-up:hover {
    background-color: #218838; /* Verde más oscuro al hacer hover */
}

/* Estilo específico para el botón - */
.boton-down {
    background-color: #dc3545; /* Rojo para el botón - */
}

.boton-down:hover {
    background-color: #c82333; /* Rojo más oscuro al hacer hover */
}

.btn-del{
    background-color: rgb(200, 0, 0);
}

.btn-del:hover{
    background-color: rgb(150, 0, 0);
}

/* CARRUSEL */

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 90%;
    padding: 10px 0;
    margin-left: 30px;
    margin-right: 30px;
    background-color: var(--color-9);
    border-radius: 20px;
    box-shadow: inset 0px 4px 10px rgba(0,0,0,0.2);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {

    flex: 0 0 auto;
    margin: 0px;

    &:first-child {
        margin-left: 10px;
    }

    &:last-child {
        margin-right: 10px;
    }

    a{

        box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
        background-color: white;
        color: black;
        border: 0px;
        border-radius: 15px;
        margin: 10px;
        font-size: large;
        transition: 0.5s;
        display: flex;
        align-items: center;
        text-decoration: none;

        button{

            font-weight: lighter;
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            background-color: transparent;
            border: 0px;
            color: black;
            font-size: 17px;
            padding: 10px;
            min-height: 44px;
            transition: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                filter: brightness(0.75);
                cursor: pointer;
            }

            img{

                margin-right: 10px;
            
                &.no-margin-right{
                    margin-right: 0px;
                }
            
            }

        }

        &:hover{
            filter: brightness(0.75);
            cursor: pointer;
        }

    }

}

.carousel-btn {

    background-color: var(--color-1);
    color: white;
    border: none;
    border-radius: 10px;
    width: 50px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

    &.double{
        margin: 10px;
    }

}

.carousel-btn:hover {
    background-color: var(--color-3);
}

/* Más cosas */

.enlace-basico{
    
    color: blue;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }

}

.ver-carrito{

    text-decoration: none;

    button{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: rgb(0, 155, 0);

        img{
            width: 25px;
        }

        &:hover{
            background-color: green;
        }

    }

}

.hacer-pedido{

    text-decoration: none;

    button{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: var(--color-1);

        img{
            width: 25px;
        }

        &:hover{
            background-color: var(--color-3);
        }

    }

}

.separador-2{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 2px;
    margin: 30px 0px;
}

/* Comentarios */

.comentario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;

    .superior{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .izquierda{

            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;

            img{
                min-height: unset;
                min-width: 100px;
                width: 100px;
                height: 100px;
                padding: 20px;
                border-radius: 50%;
            }
    
            .nombre-y-puntuacion{
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
    
                h1, h2{
                    margin: 5px;
                }
    
            }

        }

        .derecha{

            text-align: right;
            padding: 30px;
            color: gray;

        }

    }

    .comentario-texto{
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 140%;
        text-align: justify;
        line-height: 1.5;
    }

}

.paginacion-2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
    h1{
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
    }

    a{

        img{
            filter: invert();
            transform: scale(2.5);
        }

    }

    .disabled{
        background-color: rgb(200, 200, 200);
        opacity: 0.5;
        cursor: not-allowed;
    }

}

.form-comentario{
    margin-bottom: 30px;
}

/* Buscador */

#buscarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
    /* display: none; /* Escondemos el input por defecto */
}

#searchInput:focus {
    outline: none;
    border-color: var(--color-3);
}

#closeSearch {
    /* display: none; Escondemos el botón de cerrar por defecto */
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0px;
}

#adminToggle{
    
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 15px;
    margin: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    padding: 10px;
    display: none;

    &:hover{
        filter: brightness(0.75);
        cursor: pointer;
    }

}

/* Punto en sobre nosotros */

.mqSobreNosotrosEmail{
    ul{
        text-align: center;
        list-style-type: none;
    }
    .lal{
        display: none;
    }
}


/* Mostrar textos de los botones de admin en el header */

@media screen and (min-width: 1710px) {
    .mqa1::before {
        content: "Categorías";
    }
    .mqa2::before {
        content: "Productos";
    }
    .mqa3::before {
        content: "Pedidos";
    }
    .mqa4::before {
        content: "Usuarios";
    }
}

/* Minimizar textos de los botones de admin en el header */

@media screen and (max-width: 1710px) {
    
    #mqAdmin{
        button{
            img{
                margin-right: 10px;
            }
            .mqa1::after{
                content: "Cat.";
            }
            .mqa2::after{
                content: "Prod.";
            }
            .mqa3::after{
                content: "Ped.";
            }
            .mqa4::after{
                content: "Usu.";
            }
        }
    }
    
}

/* Ocultar textos de los botones de admin en el header */

@media screen and (max-width: 1570px) {
    
    #mqAdmin{
        button{
            img{
                margin-right: 0px;
            }
            .mqa1::after{
                content: "";
            }
            .mqa2::after{
                content: "";
            }
            .mqa3::after{
                content: "";
            }
            .mqa4::after{
                content: "";
            }
        }
    }
    
}

/* Ocultar texto del botón de carrito en el header */

@media screen and (max-width: 1390px) {
    
    #mqCarrito{
        button{
            img{
                margin-right: 0px;
            }
            span{
                display: none;
            }
        }
    }

    .tabla-productos{
        tr{
            th:nth-child(4){
                display: none;
            }
            td:nth-child(4){
                display: none;
            }
        }
    }

}

/* Ocultar texto del botón de logout en el header */

@media screen and (max-width: 1300px) {
    
    #mqLogout{
        button{
            img{
                margin-right: 0px;
            }
            span{
                display: none;
            }
        }
    }

}

/* Ocultar texto del botón de mis pedidos en el header */

@media screen and (max-width: 1180px) {
    
    #mqMisPedidos{
        button{
            img{
                margin-right: 0px;
            }
            span{
                display: none;
            }
        }
    }

    .tabla-productos{
        tr{
            th:nth-child(3){
                display: none;
            }
            td:nth-child(3){
                display: none;
            }
        }
    }

    .tabla-pedidos{
        tr{
            th:nth-child(4){
                display: none;
            }
            td:nth-child(4){
                display: none;
            }
        }
    }

}

/* Ocultar texto "Tienda de señales de Trafico" en el header */

@media screen and (max-width: 1080px) {
    
    .tabla-productos{
        tr{
            th:nth-child(7){
                display: none;
            }
            td:nth-child(7){
                display: none;
            }
        }
    }

}

@media screen and (max-width: 980px){

    .tabla-usuarios{
        tr{
            th:nth-child(3){
                display: none;
            }
            td:nth-child(3){
                display: none;
            }
        }
    }

    .ver-producto{
        display: flex;
        flex-direction: column;
    }

}

/* Ajustar tabla carrito en móvil */

@media screen and (min-width: 900px){
    .tabla-carrito {
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        transform: scale(1); 
        transform-origin: top center;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 900px) {
    .tabla-carrito {
        transition: transform 0.3s ease, margin-bottom 0.3s ease; 
        transform: scale(0.8);
        transform-origin: top center;
        margin-bottom: -5%;
        thead{
            tr{
                th:nth-child(4){
                    display: none;
                }
            }
        }
        tbody{
            tr{
                td:nth-child(4){
                    display: none;
                }
            }
        }
    }
    .tabla-productos{
        tr{
            th:nth-child(8){
                display: none;
            }
            td:nth-child(8){
                display: none;
            }
        }
    }
    .tabla-usuarios{
        tr{
            th:nth-child(7){
                display: none;
            }
            td:nth-child(7){
                display: none;
            }
        }
    }
}

.num-productos{
    .corto{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .tabla-productos{
        tr{
            th:nth-child(2){
                display: none;
            }
            td:nth-child(2){
                display: none;
            }
        }
    }
    .tabla-pedidos{
        tr{
            th:nth-child(6){
                display: none;
            }
            td:nth-child(6){
                display: none;
            }
        }
    }
    .num-productos{
        .largo{
            display: none;
        }
        .corto{
            display: block;
        }
    }
    .tabla-usuarios{
        tr{
            th:nth-child(2){
                display: none;
            }
            td:nth-child(2){
                display: none;
            }
        }
    }
    .tabla-mis-pedidos{
        tr{
            th:nth-child(2){
                display: none;
            }
            td:nth-child(2){
                display: none;
            }
        }
    }
    .no-se-encontraron{
        margin: 0px 40px;
        font-size: 100%;
    }
    .morir{
        display: none;
    }

    .comentario{
        .comentario-texto{
            font-size: 100%;
        }
        .superior{
            .izquierda{
                img{
                    min-width: 70px;
                    min-height: 70px;
                    max-width: 70px;
                    max-height: 70px;
                }
                .nombre-y-puntuacion{
                    h1, h2{
                        font-size: 120%;
                    }
                }
            }
        }
    }
}

/* Ocultar icono de autopista en el header */

@media screen and (max-width: 730px) {

    #mqLogo{display: none;}

    header{
        height: 74px;
    }

    .mqSobreNosotrosEmail{
        ul{
            display: none;
        }
        .lal{
            text-align: center;
            display: block;
        }
    }

    .tabla-pedidos{
        tr{
            th:nth-child(2){
                display: none;
            }
            td:nth-child(2){
                display: none;
            }
        }
    }

    .tabla-mis-pedidos{
        tr{
            td:nth-child(5){
                span{
                    font-size: 70%;
                }
            }
        }
    }

}

@media screen and (max-width: 700px){

    .tabla-carrito {
        transition: transform 0.3s ease, margin-bottom 0.3s ease; 
        transform: scale(0.7);
        transform-origin: top center;
        margin-bottom: -10%;
        thead{
            tr{
                th:nth-child(2){
                    display: none;
                }
            }
        }
        tbody{
            tr{
                td:nth-child(2){
                    display: none;
                }
            }
        }
    }

    .tabla-productos{
        tr{
            th:nth-child(6){
                display: none;
            }
            td:nth-child(6){
                display: none;
            }
        }
    }

    .tabla-usuarios{
        tr{
            th:nth-child(5){
                display: none;
            }
            td:nth-child(5){
                display: none;
            }
        }
    }

}

/* Ajustar footer en columna */

@media screen and (max-width: 600px) {

    #mqFooter{ /* Esto es lo mismo que footer{} */
        div{
            flex-direction: column;
            a{
                margin: 10px 0px;
            }

            &.autor{
                margin-left: 0px;
                margin-top: 0px;
            }
        }
    }

    .tabla-productos{
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        transform-origin: top center;
        transform: scale(0.8);
        margin-bottom: -250px;
    }

    .tabla-pedidos{
        tr{
            th:nth-child(7){
                display: none;
            }
            td:nth-child(7){
                display: none;
            }
        }
    }

    .tabla-usuarios{
        tr{
            th:nth-child(4){
                display: none;
            }
            td:nth-child(4){
                display: none;
            }
        }
    }

    .tabla-mis-pedidos{
        tr{
            th:nth-child(3){
                display: none;
            }
            td:nth-child(3){
                display: none;
            }
        }
    }
    .no-se-encontraron{
        margin: 0px 20px;
        font-size: 80%;
    }

    .final-pedido1, .final-pedido2{
        transform: scale(0.9);
    }

    .ver-producto{
        img{
            transform: scale(0.85);
            margin-top: -35px;
            margin-bottom: -70px;
        }
    }

    .comentario{
        .superior{
            .izquierda{
                img{
                    min-width: 50px;
                    min-height: 50px;
                    max-width: 50px;
                    max-height: 50px;
                }
                .nombre-y-puntuacion{
                    h2{
                        font-size: 120%;
                    }
                    h1{
                        font-size: 80%;
                    }
                }
            }
        }
    }

}

/* Botones pequeños */

@media screen and (max-width: 500px) {

    .header-derecha{
        
        a{
            button{
                padding: 5px;
                font-size: 12px;
                img{
                    width: 20px;
                }
            }
        }

    }

    .header-izquierda{

        .hi2{
            margin-right: 0px;
            gap: 5px;
            .casa, .lupa, .cerrar{
                min-height: 30px;
                min-width: 30px;
            }
        }

    }

    .mqAdminTitulo{
        font-size: 150%;
    }

    .mqAdminPag{
        display: none;
    }

    .tabla-carrito{
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        transform-origin: top center;
        thead{
            tr{
                th:nth-child(5){
                    display: none;
                }
            }
        }
        tbody{
            tr{
                td:nth-child(5){
                    display: none;
                }
            }
        }
    }

    .tabla-productos{
        tr{
            th:nth-child(5){
                display: none;
            }
            td:nth-child(5){
                display: none;
            }
        }
    }

    .tabla-pedidos{
        tr{
            th:nth-child(5){
                display: none;
            }
            td:nth-child(5){
                display: none;
            }
        }
    }

    .tabla-mis-pedidos{
        tr{
            th:nth-child(4){
                display: none;
            }
            td:nth-child(4){
                display: none;
            }
            td:nth-child(5){
                span{
                    font-size: 60%;
                }
            }
        }
    }

    #searchInput{
        width: 200px;
    }

    .filtrados-por{
        font-size: 120%;
    }

    .final-pedido1, .final-pedido2{
        transform: scale(0.8);
    }

}

@media screen and (max-width: 420px) {

    #adminToggle{
        padding: 5px;
        img{
            margin: 0px;
            max-width: 15px;
        }
    }

    .final-pedido1{
        h5{
            max-width: 300px;
            font-size: 60%;
        }
    }

    .header-derecha{
        
        a{
            button{
                padding: 5px;
                font-size: 10px;
                img{
                    width: 15px;
                }
            }
        }

        .separador{
            display: none;
        }

    }

    .header-izquierda{

        .hi2{
            margin-right: 0px;
            gap: 5px;
            .casa, .lupa, .cerrar{
                min-height: 25px;
                min-width: 25px;
            }
        }

    }

    .mqCarritoGestionTitulo{
        font-size: 150%;
    }

    .mqAdminTitulo{
        font-size: 125%;
    }

    .paginacion{

        a:nth-child(1){
            button{
                width: 45px;
                transform: scale(0.7);
                margin-right: -15px;
            }
        }

        a:nth-child(2){
            button{
                width: 45px;
                transform: scale(0.8);
                margin-right: -15px;
            }
        }

        a:nth-child(4){
            button{
                width: 45px;
                transform: scale(0.8);
                margin-left: -15px;
            }
        }

        a:nth-child(5){
            button{
                width: 45px;
                transform: scale(0.7);
                margin-left: -15px;
            }
        }

        h1{
            span{ /* mqAdminPag */
                display: none;
            }
        }
        
    }

    .tabla-productos{
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        transform-origin: top center;
        transform: scale(0.7);
        margin-bottom: -400px;
    }

    .tabla-pedidos{
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        transform-origin: top center;
        transform: scale(0.9);
        margin-bottom: -20px;
    }

    .filtrados-por{
        font-size: 100%;
    }

}

/******************************************/

/* Estilo base para escritorio (ya lo tienes) */

/* Tablets (pantallas medianas) */
@media screen and (max-width: 1350px) {
  
    /* Productos en 2 columnas */
    .tabla-recomendados tr td {
        width: 100% !important;
        display: inline-block;
        box-sizing: border-box;
        display: block;
    }
    .boton-ver-producto{
        a{
            button{
                width: 500px;
            }
        }
    }

}

@media screen and (max-width: 700px){
    #start,
    #end{
        display: none;
    }
    .boton-ver-producto{
        a{
            button{
                width: 100%;
            }
        }
    }
    
    .add-to-cart form{
        input{
            margin: 0px;
        }
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

/* Móviles (pantallas pequeñas) */
@media screen and (max-width: 480px) {

    #next,
    #prev{
        display: none;
    }

}

/*******************************************/

@media screen and (max-width: 1080px){
    .ver-producto{
        display: flex;
        flex-direction: column;
        img{
            margin-bottom: -50px;
        }
    }
    .comentario{
        .superior{
            .derecha{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .oscurecer{
        margin-left: -20px;
    }
}

@media screen and (max-width: 400px){
    .ver-producto{
        img{
            transform: scale(0.7);
            margin-top: -70px;
            margin-bottom: -90px;
        }
    }
    .comentario{
        .superior{
            .izquierda{
                .nombre-y-puntuacion{
                    h1{
                        font-size: 80%;
                    }
                }
            }
        }
    }
}